@import '_vars';

body {
	font-size: 2rem;
	background-color: $lgrey;
	background-repeat: no-repeat;
	background-position: 0 100%;
}

#site-wrapper {
	color: $dgrey;
	max-width: 1200px;
	margin: 0 auto;
	background: #fff;
	padding: 20px;
	z-index: $z-index-2;
	position: relative;
}

// Page transitions
#site-wrapper.isLoading .main,
#site-wrapper.isLoading #sidebar-wrap {
	opacity: 0;
}

#site-wrapper.loaded .main,
#site-wrapper.loaded #sidebar-wrap {
	opacity: 1;
	transition: all 200ms ease;
}

img {
	max-width: 100%;
	height: auto;
}

#r2d2 {
	position: fixed;
	right: 10px;
	bottom: 0px;
	opacity: 0.1;
	filter: grayscale(100%);
}