@import '_vars';

body {
	font-size: 2rem;
	background-repeat: no-repeat;
	background-position: 0 100%;
	margin: 0 0 0 0;
	background: #fff;
}

#site-wrapper {
	color: $dgrey;
	margin: 0 auto;
	z-index: $z-index-2;
	position: relative;
}

.container {
	max-width: 1040px;
	margin: 0 auto;
}

.main {
	margin-top: $scaleup-10;
}

// Page transitions
#site-wrapper.isLoading .main,
#site-wrapper.isLoading .sidebar-container {
	opacity: 0;
}

#site-wrapper.loaded .main,
#site-wrapper.loaded .sidebar-container {
	opacity: 1;
	transition: all 200ms ease;
}

img {
	max-width: 100%;
	height: auto;
}

#r2d2 {
	position: fixed;
	right: 10px;
	bottom: 0px;
	opacity: 0.1;
	filter: grayscale(100%);
	transition: all 200ms ease;
	display: block;
	width: 320px;
}

@media (max-width: 1550px) {
	#r2d2 {
		width: 180px;
		right: -25px;
		transition: all 200ms ease;
	}
}

@media (max-width: 1255px) {
	#r2d2 {
		opacity: 0.04;
	}
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.sidebar-inner {
	margin-top: $scaleup-8;
	padding-top: $scaleup-8;
	border-top: 1px solid $metal;
}

// Forms and buttons
.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
	background-color: $berry;
	border: 0.1rem solid $berry;
}

.search-form .search-field {
	font-size: $scaleup-2;
	color: $dblue;
}
