.nav-wrap {
	background: $blue;
	position: fixed;
	z-index: $z-index-10;
	top: 0;
	left: 0;
	right: 0;
}

nav a,
nav a:focus {
	margin-right: $scaleup-3;
	display: inline-block;
	// text-transform: uppercase;
	color: #fff;
	// font-weight: 400;
	padding: $scale-0 0;
	outline: none;

	&:hover {
		// opacity: .8;
		color: #fff;
	}
}

