nav {
	display: flex;
}
.nav-wrap {
	background: $dgrey;
	position: fixed;
	z-index: $z-index-10;
	top: 0;
	left: 0;
	right: 0;
	padding: $scale-0 0;
}

.brand {
	color: $grey;
}

.menu {
	text-align: right;
	flex-grow: 1;
}

.menu a,
.menu a:focus {
	margin-left: $scaleup-3;
	display: inline-block;
	text-transform: uppercase;
	color: $grey;
	color: #fff;
	font-size: $scaleup-2;
	font-weight: 400;
	outline: none;

	&:hover {
		// opacity: .8;
		color: #fff;
	}
}

