// ====================
// Color
// ====================
.color-berry {
	color: $berry;
}
// ====================
// Positioning
// ====================
.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

// ====================
// Displaying
// ====================
.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

// ====================
// Padding
// ====================
.p-none {
	padding: 0;
}

.p-left-none {
  padding-left: 0;
}

.p-right-none {
  padding-right: 0;
}

// Sized Padding - Top
.p-top-1 {
  padding-top: $scaleup-1;
}

.p-top-2 {
  padding-top: $scaleup-2;

}

.p-top-3 {
  padding-top: $scaleup-3;
}

.p-top-4 {
  padding-top: $scaleup-4;
}

.p-top-5 {
  padding-top: $scaleup-5;
}

.p-top-6 {
  padding-top: $scaleup-6;
}

.p-top-7 {
  padding-top: $scaleup-7;
}

.p-top-8 {
  padding-top: $scaleup-8;
}

.p-top-9 {
  padding-top: $scaleup-9;
}

.p-top-10 {
  padding-top: $scaleup-10;
}

// Sized Padding - Bottom
.p-bottom-1 {
  padding-bottom: $scaleup-1;
}

.p-bottom-2 {
  padding-bottom: $scaleup-2;
}

.p-bottom-3 {
  padding-bottom: $scaleup-3;
}

.p-bottom-4 {
  padding-bottom: $scaleup-4;
}

.p-bottom-5 {
  padding-bottom: $scaleup-5;
}

.p-bottom-6 {
  padding-bottom: $scaleup-6;
}

.p-bottom-7 {
  padding-bottom: $scaleup-7;
}

.p-bottom-8 {
  padding-bottom: $scaleup-8;
}

.p-bottom-9 {
  padding-bottom: $scaleup-9;
}

.p-bottom-10 {
  padding-bottom: $scaleup-10;
}

// ====================
// Flushing
// Deprecate?
// ====================


// ====================
// Spacers
// ====================
.space-0 {
  height: $scale-0;
}

.space-1 {
  height: $scaleup-1;
}

.space-2 {
  height: $scaleup-2;
}

.space-3 {
  height: $scaleup-3;
}

.space-4 {
  height: $scaleup-4;
}

.space-5 {
  height: $scaleup-5;
}

.space-6 {
  height: $scaleup-6;
}

.space-7 {
  height: $scaleup-7;
}

// ====================
// Margins
// ====================
.m-all {
  margin: $scale-0;
}

.m-none {
  margin: 0;
}

.m-left-right-auto {
  margin-right: auto;
  margin-left: auto;
}

.m-right-none {
  margin-right: 0;
}

.m-left-none {
  margin-left: 0;
}

.m-bottom-none {
  margin-bottom: 0;
}

.m-top-none {
  margin-top: 0;
}

.m-top-xxsmall {
  margin-top: $scaledown-3;
}

.m-top-xsmall {
  margin-top: $scaledown-2;
}

.m-top-small {
  margin-top: $scaledown-1;
}

.m-top {
  margin-top: $scale-0;
}

.m-top-tall {
  margin-top: $scaleup-3;
}

.m-bottom-xxsmall {
  margin-bottom: $scaledown-3;
}

.m-bottom-xsmall {
  margin-bottom: $scaledown-2;
}

.m-bottom-small {
  margin-bottom: $scaledown-1;
}

.m-bottom {
  margin-bottom: $scale-0;
}

.m-bottom-tall {
  margin-bottom: $scaleup-3;
}

// Sized Margins - Top
.m-top-1 {
  margin-top: $scaleup-1;
}

.m-top-2 {
  margin-top: $scaleup-2;
}

.m-top-3 {
  margin-top: $scaleup-3;
}

.m-top-4 {
  margin-top: $scaleup-4;
}

.m-top-5 {
  margin-top: $scaleup-5;
}

.m-top-6 {
  margin-top: $scaleup-6;
}

.m-top-7 {
  margin-top: $scaleup-7;
}

.m-top-8 {
  margin-top: $scaleup-8;
}

.m-top-9 {
  margin-top: $scaleup-9;
}

.m-top-10 {
  margin-top: $scaleup-10;
}

.m-top-down-1 {
  margin-top: $scaledown-1;
}

.m-top-down-2 {
  margin-top: $scaledown-2;
}

// Sized Margins - Bottom
.m-bottom-1 {
  margin-bottom: $scaleup-1;
}

.m-bottom-2 {
  margin-bottom: $scaleup-2;
}

.m-bottom-3 {
  margin-bottom: $scaleup-3;
}

.m-bottom-4 {
  margin-bottom: $scaleup-4;
}

.m-bottom-5 {
  margin-bottom: $scaleup-5;
}

.m-bottom-6 {
  margin-bottom: $scaleup-6;
}

.m-bottom-7 {
  margin-bottom: $scaleup-7;
}

.m-bottom-8 {
  margin-bottom: $scaleup-8;
}

.m-bottom-9 {
  margin-bottom: $scaleup-9;
}

.m-bottom-10 {
  margin-bottom: $scaleup-10;
}

.m-bottom-down-1 {
  margin-bottom: $scaledown-1;
}

.m-bottom-down-2 {
  margin-bottom: $scaledown-2;
}

// Sized Margins - Left
.m-left-1 {
  margin-left: $scaleup-1;
}

.m-left-2 {
  margin-left: $scaleup-2;
}

.m-left-3 {
  margin-left: $scaleup-3;
}

.m-left-4 {
  margin-left: $scaleup-4;
}

.m-left-5 {
  margin-left: $scaleup-5;
}

.m-left-6 {
  margin-left: $scaleup-6;
}

.m-left-7 {
  margin-left: $scaleup-7;
}

.m-left-8 {
  margin-left: $scaleup-8;
}

.m-left-9 {
  margin-left: $scaleup-9;
}

.m-left-10 {
  margin-left: $scaleup-10;
}

.m-left-down-1 {
  margin-left: $scaledown-1;
}

.m-left-down-2 {
  margin-left: $scaledown-2;
}

// ====================
// Border Radius
// ====================

.radius-circle {
  border-radius: 100%;
}

.radius-2px {
  border-radius: 2px;
}

.radius-3px {
  border-radius: 3px;
}

.radius-4px {
  border-radius: 3px;
}

.radius-5px {
  border-radius: 3px;
}

// ====================
// Width
// ====================
.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}
// ====================
// text
// ====================
.text-center {
	text-align: center;
}

// ====================
// Misc
// ====================
.o-hidden {
	overflow: hidden;
}

.error-block {
	background: lighten($berry, 35);
	color: $berry;
	padding: $scaleup-1;
	margin: $scaleup-1 0;
	font-weight: 400;
}

.info-block {
	background: lighten($blue, 50);
	color: $blue;
	padding: $scaleup-1;
	margin: $scaleup-1 0;
	font-weight: 400;
}