// ====================
// Colors
// ====================
$dblue: #1C3855;
$blue: #2C4A68;
$berry: #F3322F;
$metal: #E1EBEA;
$lmetal: #EBF4F3;
$grey: #D7DADB;
$lgrey: #f0f0f0;
$dgrey: #5e5e5e;


// ====================
// Modular Scale
// ====================
$scaleup-11:            9.492rem; //152px
$scaleup-10:            7.594rem; //121px
$scaleup-9:             6.328rem; //101px
$scaleup-8:             5.063rem; //81px
$scaleup-7:             4.219rem; //68px
$scaleup-6:             3.375rem; //54px
$scaleup-5:             2.813rem; //45px
$scaleup-4:             2.25rem; //36px
$scaleup-3:             1.875rem; //30px
$scaleup-2:             1.5rem; //24px
$scaleup-1:             1.25rem; //20px
$scale-0:               1rem; //16px
$scaledown-1:           0.833rem; //13px
$scaledown-2:           0.667rem; //11px
$scaledown-3:           0.556rem; //9px
$scaledown-4:           0.444rem; //7px
$scaledown-5:           0.37rem; //6px
$scaledown-6:           0.296rem; //5px
$scaledown-7:           0.197rem; //3px

// ====================
// Z-Index
// ====================
$z-index-1:   100;
$z-index-2:   200;
$z-index-3:   300;
$z-index-4:   400;
$z-index-5:   500;
$z-index-6:   600;
$z-index-7:   700;
$z-index-8:   800;
$z-index-9:   900;
$z-index-10: 1000;

// ====================
// Screens
// ====================
$small: 40.0rem;
$medium: 80.0rem;
$large: 120.0rem;