body {
	background: #e3e3e3;
}

nav a {
	color: #11bed4;
	margin-right: 10px;
	display: inline-block;
}

div {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(94, 94, 94);
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
	background: #fff;
}

h1 {
	font-weight: 100;
	font-size: 45px;
	margin-top: 0;
}

img {
	max-width: 100%;
}